body{
    background: radial-gradient( #2F2F3C 0%, #000000 100%);
    height: 100vh;
}
img {
    width: auto; /* Установить ширину изображения */
    height: 94vh; /* Автоматический расчет высоты, чтобы сохранить пропорции */
}
